<%- include("partials/header"); -%>
    <div class="card shadow border isolate-project">
        <h1><b><%= project_title %></b></h1>
        <h4>Project ID:- <%= project_number %></h4>
        <p><%= project_content %></p>
    </div>
<%- include("partials/footer"); -%>